<div class="login">
<!--  登录卡片-->
  <nz-card class="login-card">
    <div class="login-card-title">
      <h1>{{ title }}</h1>
      <p>{{ subtitle }}</p>
    </div>
    <div class="login-card-input">
      @if (!isLogin){
        <app-register></app-register>
      } @else {
        <app-login></app-login>
      }
      @if (isLogin) {
        <nz-divider nzPlain nzText="或"></nz-divider>
        <div nz-row nzJustify="space-evenly" style="margin-top: 10px">
          <button nz-button nzType="default" nzShape="circle" style="width: 40px;height: 40px">
            <nz-icon nzType="search" />
          </button>
          <button nz-button nzType="default" nzShape="circle" style="width: 40px;height: 40px">
            <nz-icon nzType="search" />
          </button>
          <button nz-button nzType="default" nzShape="circle" style="width: 40px;height: 40px">
            <nz-icon nzType="search" />
          </button>
        </div>
      }
      @if (isLogin) {
        <div style="display: flex;justify-content: center;align-items: baseline;margin-top: 20px">
          <span>还没有账号?</span>
          <a nz-button nzType="link" (click)="switcher()">立即注册</a>
        </div>
      } @else {
        <div style="display: flex;justify-content: center;align-items: baseline;margin-top: 20px">
          <span>已有账号?</span>
          <a nz-button nzType="link" (click)="switcher()">立即登录</a>
        </div>
      }

    </div>
  </nz-card>
</div>
